//主色
$primary: #d1caf2;
//辅色
$secondary: #27678C;
//次色
$tertiary: #534F67;
//成功色
$sucess: #679610;
//提示色
$warning: #F4D9B5;
//错误警告色
$danger: #EA6E5D;
//媒体色
$medium: #A1A1A1;
//亮色
$light: #F9F9F9;

//文字颜色
$black: #323232;
$grey:$medium;